<p style="color: green"><%= notice %></p>

<h1>Moedas</h1>

<%= link_to "Nova Moeda", new_coin_path %>

<div id="coins">
  <% @coins.each do |coin| %>
    <%= render coin %>
    <p>
      <strong><%= link_to "Mostrar", coin %></strong>
    </p>
  <% end %>
</div>


